@import url("https://fonts.googleapis.com/css?family=Roboto:300");

body {
  text-align: center;
  background: linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);
  color: #555;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 32px;
  padding-top: 20vh;
  height: 100vh;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  /*  -webkit-perspective: 1000;*/
  -webkit-transform: translate3d(0, 0, 0);
}

.first,
.second {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
/* -------- First Para -------*/
.first {
  /* For increasing performance 
                       ID/Class should've been used. 
                       For a small demo 
                       it's okaish for now */
  -webkit-animation: showup 7s infinite;
  animation: showup 7s infinite;
}

.second {
  width: 0px;
  -webkit-animation: reveal 7s infinite;
  animation: reveal 7s infinite;
}
.second span {
  margin-left: -355px;
  -webkit-animation: slidein 7s infinite;
  animation: slidein 7s infinite;
}

@-webkit-keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@-webkit-keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 355px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 355px;
  }
}

p {
  font-size: 12px;
  color: #999;
  margin-top: 200px;
}
