.monkey1 img {
    height: 280px;
    width: 150px;
    display: block;
    position:absolute;
    left: 150px;
    top: 200px;
    -webkit-animation: monkey-1 3s ease-in-out 100ms infinite ;
    animation: monkey-1 3s ease-in-out 100ms infinite ;
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    }

.monkey2 img {
    height: 280px;
    width: 200px;
    position:absolute;
    display: block;
    left: 550px;
    -webkit-animation: monkey- 3s ease-in-out 100ms infinite ;
    animation: monkey- 3s ease-in-out 100ms infinite ;
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.monkey3 img {
    height: 290px;
    width: 200px;
    position:absolute;
    display: block;
    left: 900px;
    -webkit-animation: monkey-2 3s ease-in-out 100ms infinite ;
    animation: monkey-2 3s ease-in-out 100ms infinite ;
    -webkit-transform-origin:  center;
    transform-origin:  center;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
   
}


@-webkit-keyframes monkey-1{
    0%{-webkit-transform:  rotate(45deg);transform:  rotate(45deg)}
    50%{-webkit-transform:  rotate(-45deg);transform:  rotate(-45deg)}
    100%{-webkit-transform:  rotate(45deg);transform:  rotate(45deg) }
}


@keyframes monkey-1{
    0%{-webkit-transform:  rotate(45deg);transform:  rotate(45deg)}
    50%{-webkit-transform:  rotate(-45deg);transform:  rotate(-45deg)}
    100%{-webkit-transform:  rotate(45deg);transform:  rotate(45deg) }
}

@-webkit-keyframes monkey-2{
    0%{-webkit-transform:  rotate(35deg) translateY(0px);transform:  rotate(35deg) translateY(0px)}
    50%{-webkit-transform:  rotate(-35deg) translateY(50px);transform:  rotate(-35deg) translateY(50px)}
    100%{-webkit-transform:  rotate(35deg) translateY(0px);transform:  rotate(35deg) translateY(0px)}
}

@keyframes monkey-2{
    0%{-webkit-transform:  rotate(35deg) translateY(0px);transform:  rotate(35deg) translateY(0px)}
    50%{-webkit-transform:  rotate(-35deg) translateY(50px);transform:  rotate(-35deg) translateY(50px)}
    100%{-webkit-transform:  rotate(35deg) translateY(0px);transform:  rotate(35deg) translateY(0px)}
}